body {
    text-align: center;
}

hr {
    width: 500px;
}

#sudoku-board{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits{
    width: 450px;
    height: 50px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#solve{
    width: 150px;
    height: 50px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid rgb(201, 201, 201);
    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-start{
    background-color: rgb(246, 246, 246);
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-selected {
    background-color: rgb(138, 138, 138);
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

.tile-error{
    background-color: rgb(255, 77, 0);
}

.tile-correct{
    background-color: white;
}

.highlight{
    background-color: aqua;
}

